/* Наші проекти */

.projects-item {
  margin-left: 30px;
  margin-top: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects__item:not(:lact-child) {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.projects__item {
  margin-bottom: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
